.Navbar-general {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0px 0px 0px;
  background-color: transparent;
  z-index: 1;
}
a {
  text-decoration: none;
  display: block;
  position: relative;
  color: black;
}
a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  border: 1px solid black;
}
.Navbar-general {
  display: flex;
  justify-content: center;
}
.Navbar-general > nav {
  width: 96%;
}
.img-logo {
  display: flex;
  align-items: center;
  align-content: center;
  width: 12vh;
  margin: 1ch 2rem 0px 0px;
}
.menu-bar {
  border-radius: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
}
.menu-bar li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 10px;
  margin: 1px 15px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: small;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 4;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 50px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.element-left {
  display: flex;
  flex-direction: row;
  margin-left: 40rem;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: -0.1rem;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.img-loope {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.HOME {
  display: flex;
  justify-content: center;
}
.BLOG {
  display: flex;
  justify-content: center;
}
.BUY {
  display: flex;
  justify-content: center;
}
.menu-sub {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.8rem;
  width: flex;
  height: flex;
  display: none;
  border-radius: 10px;
  left: 0px;
  background: linear-gradient(to bottom, #e8edec4f, #d2d1d3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.67);
}
.content-menu {
  display: flex;
  flex-direction: row;
}
.menu-sub1 li:hover::before {
  display: none;
}
nav li:hover .menu-sub {
  display: block;
}
.menu-sub1 li {
  display: block;
}
.product-left {
  z-index: 1;
  margin: 1rem 0px 0px -3rem;
}
.product-left > li {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.title-product {
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.product-right {
  z-index: 1;
  margin: 1rem 0px 0px 0rem;
}
.product-right > li {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.cat-label {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #009e359c;
  text-transform: uppercase;
  font: inherit;
  font-size: 9px;
  padding: 2px;
  border-radius: 0;
  line-height: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
span > a {
  color: aliceblue;
}
.shop1-designe {
  display: flex;
  width: 12rem;
  height: 100%;
}
.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop1-banner {
  margin: 0px 15px 0px 0px;
  width: 15rem;
  height: 18rem;
}
.li-2 > a:hover {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.controls-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px;
}
.seperator {
  background-color: red;
}
