.Navbar-general {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0px 0px 0px;
  z-index: 2;
}
a {
  text-decoration: none;
  display: block;
  position: relative;
  color: black;
}
a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  border: 1px solid black;
}
.Navbar-general {
  display: flex;
  justify-content: center;
}
.Navbar-general > nav {
  width: 98%;
}
.img-logo {
  display: flex;
  align-items: center;
  align-content: center;
  width: 12vh;
  margin: 1ch 3rem 0px 1px;
}
.menu-bar {
  border-radius: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: transparent;
  align-items: center;
}
.menu-bar li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 10px;
  margin: 1px 15px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: small;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 4;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 50px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.element-left {
  display: flex;
  flex-direction: row;
  margin-left: 40rem;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: -0.1rem;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.img-loope {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.HOME {
  position: absolute;
  z-index: 2;
}
.HOME {
  display: flex;
  justify-content: center;
}
.BLOG {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.BUY {
  display: flex;
  justify-content: center;
}
.menu-sub {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.8rem;
  width: flex;
  height: flex;
  display: none;
  border-radius: 10px;
  left: 0px;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.67);
}
.content-menu {
  display: flex;
  flex-direction: row;
}
.menu-sub1 li:hover::before {
  display: none;
}
nav li:hover .menu-sub {
  display: block;
}
.menu-sub1 li {
  display: block;
}
.product-left {
  margin: 1rem 0px 0px -3rem;
}
.product-left > li {
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.title-product {
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.product-right {
  margin: 1rem 0px 0px 0rem;
}
.product-right > li {
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.cat-label {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #009e359c;
  text-transform: uppercase;
  font: inherit;
  font-size: 9px;
  padding: 2px;
  border-radius: 0;
  line-height: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
span > a {
  color: aliceblue;
}
.shop1-designe {
  display: flex;
  width: 12rem;
  height: 100%;
}
.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop1-banner {
  margin: 0px 15px 0px 0px;
  width: 15rem;
  height: 18rem;
}
.li-2 > a:hover {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.controls-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px;
}
.AutoplaySlider-secend {
  position: absolute;
  z-index: 1;
}
.img5 {
  height: 100%;
  width: 100%;
}

.porto-ibanner-layer {
  left: 15%;
  top: 55%;
  z-index: 3;
  transform: translateY(-90%);
  position: absolute;
}
.porto-ibanner-layer > h2 {
  font-size: 2.5em;
  color: #777777;
  line-height: 1;
  font-weight: 400;
  font-family: "Segoe Script", "Savoye LET";
  text-align: left;
  margin-bottom: 1rem !important;
}
.porto-ibanner-layer > h3 {
  font-size: 2.5em;
  line-height: 1;
  text-transform: uppercase !important;
  text-align: left;
  letter-spacing: 0.185em;
  margin-bottom: 0 !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
}
.porto-ibanner-layer > h4 {
  font-size: 6em;
  line-height: 1;
  text-align: left;
  margin-bottom: 1.5rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  box-sizing: inherit;
}
.porto-ibanner-layer > h5 {
  font-size: 1.4em;
  text-transform: uppercase !important;
  float: left !important;
  padding-top: 10px !important;
  text-align: left;
  margin-right: 1rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
  margin: 0 0 14px 0;
  letter-spacing: normal;
}
.porto-ibanner-layer > h6 {
  font-size: 2.25em;
  line-height: 1;
  margin: 0px 0px 0px 0px;
  position: relative;
  display: inline-block;
  transform: none;
  font-weight: 800;
  text-align: left;
  font-family: Poppins, sans-serif;
  position: absolute;
  background: rgb(255, 255, 255);
  transform: rotate(-2deg);
}
.btn-container {
  z-index: 2;
  top: 22rem;
  z-index: 3;
  transform: translateY(-90%);
  position: absolute;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-dark {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  padding: 1.125em 2.75em;
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
  border-radius: 0;
  border: 1px solid #ccc;
  height: auto !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  align-items: flex-start;
  -webkit-text-size-adjust: 100%;
}

.porto-ibanner-layer-2 {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 50rem;
  box-sizing: inherit;
  z-index: 10;
  text-align: left;
  font-size: 1rem;
}
.porto-ibanner-layer-2 > h2 {
  font-size: 3.4375em;
  line-height: 1;
  font-family: "Segoe Script", "Savoye LET";
  text-align: left;
  margin-bottom: 0.25rem !important;
  letter-spacing: -0.3px;
  color: #302e2a;
  margin: 0 0 32px 0;
}
.porto-ibanner-layer-2 > h3 {
  font-size: 7em;
  line-height: 1;
  position: relative;
  padding-left: 0.3em;
  text-transform: uppercase !important;
  text-align: left;
  margin-bottom: 0 !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
.porto-ibanner-layer-2 > h3 > small {
  font-size: 25%;
  font-weight: 500;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: 50% 50%;
  position: absolute;
  left: -1em;
  top: 50%;
  color: inherit;
  font-family: inherit;
}
.divider-small-align-left > hr {
  background-color: #222529;
  height: 5px;
  background: #222529;
  width: 50px;
  display: flex;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: left;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.porto-ibanner-layer-2 > h5 {
  font-size: 1.25em;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: left;
  margin-right: 3rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
  margin: 0 0 14px 0;
}
.porto-ibanner-layer-2 > h5 > em > font {
  vertical-align: inherit;
  box-sizing: inherit;
  font-size: 2em;
  font-style: normal;
  font-family: inherit;
  vertical-align: text-bottom;
  text-transform: uppercase !important;
  text-align: left;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
}
