.Navbar-general {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0px 0px 0px;
  z-index: 2;
}
li > a {
  text-decoration: none;
  display: block;
  position: relative;
  color: black;
}
li > a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  border: 1px solid black;
}
.Navbar-general {
  display: flex;
  justify-content: center;
}
.Navbar-general > nav {
  width: 98%;
}
.img-logo {
  display: flex;
  align-items: center;
  align-content: center;
  width: 12vh;
  margin: 1ch 3rem 0px 1px;
}
.menu-bar {
  border-radius: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: transparent;
  align-items: center;
}
.menu-bar li {
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 10px;
  margin: 1px 15px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: small;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 4;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  border-radius: 10px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.element-left {
  display: flex;
  flex-direction: row;
  margin-left: 40rem;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: -0.1rem;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.img-loope {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.img-user {
  display: flex;
  justify-content: center;
}
.HOME {
  position: absolute;
  z-index: 2;
}
.HOME {
  display: flex;
  justify-content: center;
}
.BLOG {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.BUY {
  display: flex;
  justify-content: center;
}
.menu-sub {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.8rem;
  width: flex;
  height: flex;
  display: none;
  border-radius: 10px;
  left: 0px;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.67);
}
.content-menu {
  display: flex;
  flex-direction: row;
}
.menu-sub1 li:hover::before {
  display: none;
}
nav li:hover .menu-sub {
  display: block;
}
.menu-sub1 li {
  display: block;
}
.product-left {
  margin: 1rem 0px 0px -3rem;
}
.product-left > li {
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.title-product {
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.product-right {
  margin: 1rem 0px 0px 0rem;
}
.product-right > li {
  display: flex;
  justify-content: flex-start;
  font-weight: 100;
}
.cat-label {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #009e359c;
  text-transform: uppercase;
  font: inherit;
  font-size: 9px;
  padding: 2px;
  border-radius: 0;
  line-height: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
span > a {
  color: aliceblue;
}
.shop1-designe {
  display: flex;
  width: 12rem;
  height: 100%;
}
.image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop1-banner {
  margin: 0px 15px 0px 0px;
  width: 15rem;
  height: 18rem;
}
.li-2 > a:hover {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.controls-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px;
}
.AutoplaySlider-secend {
  position: absolute;
  z-index: 1;
}
#img5 {
  margin: 0px 0px 10px 0px;
}
.porto-ibanner-layer {
  left: 15%;
  top: 55%;
  z-index: 3;
  transform: translateY(-90%);
  position: absolute;
}
.porto-ibanner-layer > h2 {
  font-size: 2.5em;
  color: #777777;
  line-height: 1;
  font-weight: 400;
  font-family: "Segoe Script", "Savoye LET";
  text-align: left;
  margin-bottom: 1rem !important;
}
.porto-ibanner-layer > h3 {
  font-size: 2.5em;
  line-height: 1;
  text-transform: uppercase !important;
  text-align: left;
  letter-spacing: 0.185em;
  margin-bottom: 0 !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
}
.porto-ibanner-layer > h4 {
  font-size: 6em;
  line-height: 1;
  text-align: left;
  margin-bottom: 1.5rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  box-sizing: inherit;
}
.porto-ibanner-layer > h5 {
  font-size: 1.4em;
  text-transform: uppercase !important;
  float: left !important;
  padding-top: 10px !important;
  text-align: left;
  margin-right: 1rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
  margin: 0 0 14px 0;
  letter-spacing: normal;
}
.porto-ibanner-layer > h6 {
  font-size: 2.25em;
  line-height: 1;
  margin: 0px 0px 0px 0px;
  position: relative;
  display: inline-block;
  transform: none;
  font-weight: 800;
  text-align: left;
  font-family: Poppins, sans-serif;
  position: absolute;
  background: rgb(255, 255, 255);
  transform: rotate(-2deg);
}
.btn-container {
  z-index: 2;
  top: 22rem;
  z-index: 3;
  transform: translateY(-90%);
  position: absolute;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-dark {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  padding: 1.125em 2.75em;
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
  border-radius: 0;
  border: 1px solid #ccc;
  height: auto !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  align-items: flex-start;
  -webkit-text-size-adjust: 100%;
}

.porto-ibanner-layer-2 {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 50rem;
  box-sizing: inherit;
  z-index: 10;
  text-align: left;
  font-size: 1rem;
}
.porto-ibanner-layer-2 > h2 {
  font-size: 3.4375em;
  line-height: 1;
  font-family: "Segoe Script", "Savoye LET";
  text-align: left;
  margin-bottom: 0.25rem !important;
  letter-spacing: -0.3px;
  color: #302e2a;
  margin: 0 0 32px 0;
}
.porto-ibanner-layer-2 > h3 {
  font-size: 7em;
  line-height: 1;
  position: relative;
  padding-left: 0.3em;
  text-transform: uppercase !important;
  text-align: left;
  margin-bottom: 0 !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
.porto-ibanner-layer-2 > h3 > small {
  font-size: 25%;
  font-weight: 500;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: 50% 50%;
  position: absolute;
  left: -1em;
  top: 50%;
  color: inherit;
  font-family: inherit;
}
.divider-small-align-left > hr {
  background-color: #222529;
  height: 5px;
  background: #222529;
  width: 50px;
  display: flex;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: left;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.porto-ibanner-layer-2 > h5 {
  font-size: 1.25em;
  text-transform: uppercase !important;
  display: inline-block !important;
  text-align: left;
  margin-right: 3rem !important;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
  margin: 0 0 14px 0;
}
.porto-ibanner-layer-2 > h5 > em > font {
  vertical-align: inherit;
  box-sizing: inherit;
  font-size: 2.3em;
  font-style: normal;
  font-family: inherit;
  vertical-align: text-bottom;
  text-transform: uppercase !important;
  text-align: left;
  font-weight: 700;
  line-height: 20px;
  color: #222329;
  letter-spacing: normal;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.btn-container-h5 {
  margin-left: -4px;
  display: inline-block !important;
  margin-bottom: 0 !important;
  box-sizing: inherit;
  text-align: left;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.btn-container-h5 > button {
  font-size: 1.125em;
  font-weight: 700;
  padding: 1.125em 2.75em;
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
  text-transform: uppercase;
  font-family: Poppins;
  border-radius: 0;
  border: 1px solid #ccc;
  height: auto !important;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  text-indent: 0px;
  text-shadow: none;
}
.btn-container-h5 > button > font {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.btn-container-h5 > button {
  border-color: #a0a0a0;
}
.logo-right {
  margin: 0px 0px 0px 1rem;
}
.porto-products {
  position: absolute;
  height: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-item-actived {
  display: flex;
  flex-direction: row;
  margin: 2rem 0px 0px 0px;
  justify-content: space-between;
  width: 98%;
}
.owl-item-active {
  background-color: transparent;
}
.product-col > a {
  text-decoration: none;
}
.product-col > a:hover {
  text-decoration: none;
}
.porto-title-product {
  color: #313131;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.3px;
  margin: 1.5rem 0px 0px 0px;
  width: 100%;
}
.thumb-info {
  min-height: 90px;
  margin-bottom: 0;
  text-align: left;
  display: block;
  position: relative;
  text-decoration: none;
  max-width: 100%;
  transform: translate3d(0, 0, 0);
  box-sizing: inherit;
  text-decoration: none;
}
.thumb-info-title > h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 10px;
  color: #1d2127;
  letter-spacing: -0.005em;
  transition: all 0.3s;
  display: block;
  font: inherit;
  text-transform: uppercase;
  box-sizing: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  list-style: none outside;
}
.thumb-info-type {
  opacity: 1;
  color: #777;
  display: block;
  margin: -10px 0 0;
  padding: 0;
  font-weight: 400;
  background: none;
  float: none;
  opacity: 0.7;
  line-height: 1.8;
  font-size: 0.7em;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.thumb-info-type > mark {
  margin: 0px 0.3rem 0px 0px;
  padding: 0px;
  background: none;
  color: inherit;
  box-sizing: inherit;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
}
.thumb-info-wrapper > img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.7s ease-in-out;
}
.thumb-info-wrapper > img:hover {
  transform: scale(0.88);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.7s ease-in-out;
}
.porto-inner-container {
  width: 100%;
  height: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0px 0px 0px;
}
.Container-Inner > .span-inner {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-style: normal;
  letter-spacing: -0.3px;
  margin-top: 1rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 100%;
  color: #313131;
}
.product-wrapper-grid {
  display: flex;
  flex-direction: row;
  margin: 2rem 0px 0px 0px;
  justify-content: space-between;
  width: 98%;
  background-color: white;
}
.product-details-items {
  display: flex;
  flex-direction: column;
}
.product-item-name {
  padding-right: 20px;
  text-align: left;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: 700;
  box-sizing: inherit;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.product-item-name > a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.01em;
  margin-bottom: -0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222529;
  display: block;
  text-decoration: none;
  box-sizing: inherit;
  cursor: pointer;
  list-style: none none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.label {
  margin: 0 0 0.3rem;
  display: table;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
.rating {
  position: relative;
  font-size: 23px;
  letter-spacing: -0.1em;
}
.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #6a6a6d;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffd802;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #6a6a6d;
  text-shadow: 0 0 5px #ffd802;
}
.price-wrapper {
  box-sizing: inherit;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 600;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.price-premier {
  color: #444;
  font-weight: 600;
  font-size: 1.125rem;
  list-style: none none;
  line-height: 1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
}
.icon-bagfill > a {
  color: #0b0c0e;
}
.icon-chartfill > a {
  color: #000;
}
.popular-product {
  display: flex;
  justify-content: flex-end;
}
.icon-product {
  position: absolute;
  width: 4.8rem;
  margin: 0.8rem 1rem 0px 13rem;
  display: flex;
  justify-content: space-around;
}
.icon-bagfill > a {
  display: none;
}
.icon-chartfill > a {
  display: none;
}
.icon-bagfill > a:hover {
  color: white;
  background-color: black !important;
}
.icon-chartfill > a:hover {
  color: white;
  background-color: black !important;
}
.popular-image-a:hover .icon-bagfill > a {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-image-a:hover .icon-chartfill > a {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.old-price-wrapper {
  box-sizing: inherit;
  color: #a7a7a7;
  font-size: 0.8rem;
  line-height: 1;
  text-align: left;
  font-weight: 600;
  line-height: 1;
  text-decoration: line-through;
  list-style: none none;
  margin: 0px 0.7rem 0px 0px;
}
.product-labels {
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 0.8em;
  font-size: 10px;
  left: 0.8em;
  text-align: center;
  box-sizing: inherit;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.product-labels > .sale-label {
  background-color: #e27c7c;
  padding: 5px 11px;
  margin-bottom: 5px;
  box-sizing: inherit;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 0.8em;
  font-size: 10px;
  left: 0.8em;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
}
.portfolioDisc {
  width: 300px;
  height: 0px;
  padding-top: 0px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 0px;
  position: absolute;
  z-index: 2;
  background-color: #444;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}
.popular-image-a:hover > .portfolioDisc {
  margin-top: -3.3rem;
  height: 2rem;
  padding-top: 1rem;
}
.popular-image-a > .portfolioDisc:hover {
  background-color: black;
}
.porto-separator-taller {
  display: flex;
  justify-content: center;
  align-items: center !important;
  margin: 8rem 0 66px;
  font-size: 14px;
  line-height: 24px;
  width: 90%;
  font-weight: 400;
  background-color: #e7e7e7;
}
.porto-separator-taller > hr {
  display: flex;
  justify-content: center;
  align-items: center !important;
  border-top: 0.01rem solid #e7e7e7;
}
.row-mb-4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.row-mb-4 > .col-sm-6-md-3 {
  min-height: 1px;
  padding-right: 10px;
  max-width: 25%;
}
.vc_column_inner {
  width: 100%;
  text-align: center;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.porto-sicon-icon > .simple-line-icon-alt {
  box-sizing: inherit;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
  color: #222329;
  font-size: 35px;
  display: inline-block;
  transition: transform 0.2s linear;
  height: 1em;
  width: auto;
  text-align: center;
}
.porto-sicon-header {
  margin-bottom: 1rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: flex;
}
.vc_column_inner > .porto-sicon-header > h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  text-transform: none;
  margin: 3px 0;
  letter-spacing: normal;
  margin-block-start: 2rem;
  margin-block-end: -0.5em;
  margin-inline-start: 0px;
  box-sizing: inherit;
  margin-inline-end: 0px;
  color: #222329;
}
.vc_column_inner > .porto-sicon-header > p {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0;
  box-sizing: inherit;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}
.porto-sicon-description > p {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 70%;
  box-sizing: inherit;
  text-align: center;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: inherit;
}
.porto-separator-taller-tow {
  display: flex;
  justify-content: center;
  align-items: center !important;
  margin: 66px 0 40px;
  font-size: 14px;
  line-height: 24px;
  width: 90%;
  font-weight: 400;
  background-color: #e7e7e7;
}
.col-lg-12 {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.widget_text {
  margin: 0px 0px 0px 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}
.textwidget {
  padding-right: 3rem !important;
  box-sizing: inherit;
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.textwidget > h5 {
  position: relative;
  letter-spacing: 0.18em;
  color: #22232d;
  font-size: 1.3em;
  line-height: 20px;
  margin-top: 0;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  text-align: left;
  margin-bottom: 0.25rem !important;
  font-family: Poppins, sans-serif;
  margin: 0 0 14px 0;
  box-sizing: inherit;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-style: normal;
}
.textwidget > p {
  margin-top: 0;
  letter-spacing: 0;
  margin-bottom: 0 !important;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
}
.block-newsletter {
  margin: 0.6rem 0px 0px 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.control {
  text-decoration: none;
  display: block;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #777;
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.065px;
  font-size: 16px;
  line-height: 32px;
  color: #dddddd;
  content: "\f84c";
  font-family: "porto-icons";
  margin: 0 0 0 8px;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  box-sizing: inherit;
}
.control > input {
  background: #f4f4f4;
  min-width: 290px;
  padding: 8px 12px;
  border-radius: 0;
  font-size: 1.1rem;
  color: #777;
  border: none;
  height: 55px;
  font-family: inherit;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: none;
}
.action {
  display: table-cell;
  vertical-align: top;
  width: flex;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.action > button {
  padding: 0.533rem 0.933rem;
  line-height: 1.42857;
  border-radius: 0;
  height: 55px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  background-color: #222529;
  color: #fff;
  letter-spacing: -0.015em;
  box-sizing: border-box;
  vertical-align: middle;
}
.action > span {
  line-height: 1.42857;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  color: #fff;
}
.widget-follow-us {
  width: 19rem;
  clear: both;
  box-sizing: inherit;
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Share-liks {
  box-sizing: inherit;
  display: block;
  color: #777;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.Share-liks > a {
  color: #525252;
  border: none;
  font-size: 1.66rem;
  border-radius: 20px;
  box-shadow: none;
  margin: 2rem;
  transition: all 0.2s;
  transform: translate3d(0, 0, 0);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.porto-separator-taller-tree {
  display: flex;
  justify-content: center;
  align-items: center !important;
  margin: 45px 0 0px;
  font-size: 14px;
  line-height: 24px;
  width: 90%;
  font-weight: 400;
  background-color: #e7e7e7;
}
.share-facebook:hover {
  color: #4267b2;
}
.share-twitter:hover {
  color: #1da1f2;
}
.share-Instegram:hover {
  color: #e1306c;
}
.footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #90969a;
  box-sizing: inherit;
  display: block;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.footer-middle > .container {
  width: 96%;
  position: relative;
  padding-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  color: #90969a;
  box-sizing: inherit;
  padding-bottom: 1.55rem;
  display: block;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  border-color: #e7e7e7;
}
.footer-middle > .container > .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: inherit;
  font-size: 13px;
  line-height: 24px;
}
.widget-contact-info {
  margin: 0px 0px 0px 2.5rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  box-sizing: inherit;
  clear: both;
  color: #90969a;
}
.widget-contact-info > h3 {
  font-size: 1.1666em;
  font-weight: 700;
  color: #000;
  position: relative;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 0;
  margin: 0 0 20px 0;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
}
.contact-info-block {
  display: block;
  color: #90969a;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
}
.contact-name-block {
  line-height: 1.8;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  height: 9rem;
  box-sizing: inherit;
  font-size: 13px;
  letter-spacing: 0.65px;
}
.far-fa-dot-circle {
  flex: 0 0 50%;
  line-height: 1.8;
  display: list-item;
  text-align: -webkit-match-parent;
  color: #90969a;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.far-fa-dot-circle > strong {
  list-style: none;
  display: block;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  padding-left: 0;
  text-align: -webkit-match-parent;
  letter-spacing: 0.065px;
  font-size: 13px;
}
.far-fa-dot-circle > span {
  line-height: 1.4;
  padding-left: 0;
  display: block;
  box-sizing: inherit;
  text-align: -webkit-match-parent;
  list-style: none;
  color: #90969a;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}
.far-fa-dot-circle > .fab-fa-whatsapp {
  margin-bottom: 10px;
  flex: 0 0 50%;
  line-height: 1.8;
  border-width: 0;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: -webkit-match-parent;
  color: #90969a;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 13px;
}
.fab-fa-whatsapp > strong {
  list-style: none;
  display: block;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  padding-left: 0;
  text-align: -webkit-match-parent;
  letter-spacing: 0.065px;
  font-size: 13px;
}
.fab-fa-whatsapp > span {
  line-height: 1.4;
  padding-left: 0;
  display: block;
  box-sizing: inherit;
  text-align: -webkit-match-parent;
  list-style: none;
  color: #90969a;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}
.far-fa-envelope {
  margin-bottom: 10px;
  flex: 0 0 50%;
  line-height: 1.8;
  border-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  letter-spacing: 0.065px;
  font-size: 13px;
}
.far-fa-envelope > strong {
  list-style: none;
  display: block;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  padding-left: 0;
  text-align: -webkit-match-parent;
  letter-spacing: 0.065px;
  font-size: 13px;
}
.far-fa-envelope > span > a {
  text-decoration: none;
  line-height: 1.4;
  padding-left: 0;
  display: block;
  box-sizing: inherit;
  text-align: -webkit-match-parent;
  list-style: none;
  color: #90969a;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}
.far-fa-clock > strong {
  list-style: none;
  display: block;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  padding-left: 0;
  text-align: -webkit-match-parent;
  letter-spacing: 0.065px;
  font-size: 13px;
}
.far-fa-clock > span {
  text-decoration: none;
  line-height: 1.4;
  padding-left: 0;
  display: block;
  box-sizing: inherit;
  text-align: -webkit-match-parent;
  list-style: none;
  color: #90969a;
  letter-spacing: 0.065px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}
.widget__text > h3 {
  font-size: 1.1666em;
  font-weight: 700;
  color: #000;
  position: relative;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 0;
  text-decoration: none;
  margin: 0 0 20px 0;
  letter-spacing: normal;
}
.textwidget {
  box-sizing: inherit;
  color: #90969a;
  display: block;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  -webkit-text-size-adjust: 100%;
}
.row-d-inline-flex {
  white-space: nowrap;
  margin-left: -3vw;
  margin-right: -3vw;
  display: inline-flex !important;
  color: #90969a;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  -webkit-text-size-adjust: 100%;
}
.col-lg-5 {
  margin: 0px 0px 0px 1rem;
}
.colx-xl-6 {
  padding-left: 3vw;
  padding-right: 3vw;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  box-sizing: inherit;
  min-height: 1px;
  display: block;
  color: #90969a;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
  white-space: nowrap;
}
.colx-xl-6 > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: inherit;
  white-space: nowrap;
  color: #90969a;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
}
ul > li:hover {
  text-decoration: none;
}

ul > li > a {
  color: #90969a;
  text-decoration: none;
  box-sizing: inherit;
  line-height: 24px;
  text-align: -webkit-match-parent;
  list-style: none;
  font-size: 13px;
  letter-spacing: 0.065px;
  margin: 0px 0px 10px 0px;
}
.order-history {
  list-style: none;
  margin: 1em -10rem 0px 0px !important;
  padding: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: inherit;
  white-space: nowrap;
  color: #90969a;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.065px;
}
.porto-separator-taller-foor {
  display: flex;
  justify-content: center;
  align-items: center !important;
  margin: 30px 0 66px;
  font-size: 14px;
  line-height: 24px;
  width: 90%;
  font-weight: 400;
  background-color: #e7e7e7;
}
