.Navbar-general-2 {
  margin: 2vh 0px 0px 0px;
}
.Basket {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section {
  height: flex;
  width: 100%;
  margin: 3rem 0rem 0rem 0rem;
}
.fother-Section-principal-basket {
  width: 100%;
}
.fother-Section-principal-basket {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.page-title-wrapper-Cart {
  color: #222529;
  display: inline-block;
  font-size: 1.19rem;
  font-weight: 900;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  margin: 0px 0px 0px 4rem !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
