.Navbar-general-2 {
  margin: 2vh 0px 0px 0px;
}
.Basket {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section {
  height: 30%;
  width: 100%;
  background-color: red;
  margin: 3rem 0rem 0rem 0rem;
}
.fother-Section-principal-basket {
  width: 100%;
}
.fother-Section-principal-basket {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
